body {
    font-family: "Segoe UI Symbol";
}

.main-wrapper {
    text-align: center;
    max-width: 60%;
    padding: 4rem 2rem;
    margin: auto auto 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.link-input:focus {
    width: 600px;
}

.link-input {
    width: 300px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: .50rem;
}

.getlnk-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #6c757d;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #6c757d;
    cursor: pointer;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.show-element {
    visibility: visible !important;
    opacity: 1 !important;
}

#shortLinkResult {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.home-btn {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}